.mercury{
  background-color: crimson;

}
.venus{
    background-color: yellow;

}
.earth{
    background-color: blue;

}
.mars{
  background-color: red;

}
.jupiter{
  background-color: gold;

}
.saturn{
  background-color: orange;
}
.uranus{
  background-color: blueviolet;

}
.neptune{
  background-color: aqua;
  
}